<!DOCTYPE html>
<html>
<head>
    <title>Employee Data</title>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/info.css" />
</head>
<body>
    <div class="table-container">
        <h2>Thông tin trạng thái trước khi vào xưởng <br /> ESD 测试失败报警看板 </h2>
        <div id="alertContainer">
            
        </div>
    </div>
    <script src="~/Scripts/scripts/scripts.js"></script>
</body>
</html>
