/* Cấu hình cho video nền */

@keyframes moveAndChangeColor {
    0% {
        transform: translateX(-50%); /* Bắt đầu từ bên trái màn hình */
        color: white;
        text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    }

    25% {
        transform: translateX(-25%); /* Di chuyển tới giữa màn hình */
        color: red;
        text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    }

    50% {
        transform: translateX(0); /* Di chuyển đến giữa màn hình */
        color: yellow;
        text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    }

    75% {
        transform: translateX(25%); /* Di chuyển đến giữa màn hình bên phải */
        color: orange;
        text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    }

    100% {
        transform: translateX(50%); /* Di chuyển đến bên phải màn hình */
        color: forestgreen;
        text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    }
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: none; /* Nền trong suốt để chữ nổi bật hơn */
    color: white;
    z-index: 1;
    font-size: 30px;
    animation: moveAndChangeColor 30s linear infinite;
    padding: 20px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/ /* Đổ bóng để nổi bật hơn */
    overflow: hidden;
}



